// Container & Breakpoints
@use "sass:math";
$containerWidth: 1200;
$containerPadding: 30;
$containerSidePadding: math.div($containerPadding, 2);

$breakpoint1400: 1339.98+px;
$breakpoint992: 991.98+px;
$breakpoint768: 767.98+px;
$breakpoint480: 479.98+px;

//Burger Menu
$burgerBreakpoint: $breakpoint992;
$burgerActiveColor: 'white';


// COLORS
$color-primary: #0093A1;
$color-secondary: #B9C400;
$color-dark: #262C27;


$color-white: #fff;
$color-black: #000;